#welcome-left{
  width: 50%;
  float: left;
}

#welcome-center{
  width:20%
}
#welcome-right{
  width: 30%;
  float: right;
}

.heading{
  text-align: center;
}

.flex {
  display: inline-flex;
}

#about-image{
  height: 50px;
  width: 50px;
}

.about-heading {
  display: flex;
  align-items: center;
}

.about-content {
  margin-top: 15px;
  margin-left: 15px;
}

.about-content > p{
  margin-left: 25px;
}